/* CSS Document */
.image {
    width: 70%;
    display: inline-block;
}

.text {
    display: inline-block;
    float: right;
    width: 25%;
}

a {
    display: block;
    width: 100%;
    margin-bottom: 20%;
    margin-left: 20%;
}